<?xml version="1.0"?>

<launch>
  <!--<arg name="port_name" default="/dev/cti_fpga TTTTT"/>-->
  <arg name="filenamelog" default="$(find cti_fpga_serial)/control.log" />
  <arg name="port_name" default="/dev/ttyS0"/> 
  <arg name="msg_max_range" default="1.5"/> 
  <!--是否安装了LIN类型的超声波 1:是 0:否-->
  <arg name="LIN_ult_installed" default="0"/> 
  <!--是否发布箱子LIN类型的超声波 1:是 0:否-->
  <arg name="dustbox_LIN_ult_pub" default="1"/> 
  <!--是否发布车身LIN类型的超声波 1:是 0:否-->
  <arg name="vehicle_LIN_ult_pub" default="1"/> 
  <!--是否发布车身尾部LIN类型的超声波 1:是 0:否-->
  <arg name="vehicle_rear_LIN_ult_pub" default="0"/> 
  <!--robot_type: 0=default_robot,1=clean_robot-->
  <arg name="robot_type" default="0"/>
  <node pkg="cti_fpga_serial" type="cti_fpga_serial_node" name="cti_fpga_serial_node" output="screen">
    <param name="port_name" value="$(arg port_name)" />
    <param name="filenamelog" value="$(arg filenamelog)"/>
    <param name="car_wheel_base" value="0.8"/>
    <param name="timer2_duration" value="1"/>
    <param name="cmd_answer_timeout" value="0.02"/>
    <param name="version_topic" value="/cti/fpga_serial/operationControlVersion"/>
    <param name="cmd_answer_topic" value="/cti/fpga_serial/cmd_answer_cnt"/>
    <!--control board FM version limit-->>
    <param name="max_control_board_version_head" value="2"/>
    <param name="min_control_board_version_head" value="1"/>
    <param name="max_control_board_version_mid" value="1"/>
    <param name="min_control_board_version_mid" value="8"/>
    <param name="max_control_board_version_end" value="5"/>
    <param name="min_control_board_version_end" value="0"/>
    <param name="lift_test_switch" value="false"/>
    <param name="default_sweeper_id" value="0"/>
    <param name="default_dustbox_fanspeed" value="80"/>
    <param name="default_damboard_control" value="1"/>
    <param name="robot_type" value="$(arg robot_type)"/>
    <param name="default_side_brush_transform" value="50"/>
    <param name="default_side_brush_speed" value="70"/>
    <param name="LIN_ult_installed" value="$(arg LIN_ult_installed)"/>
    <param name="water_out_per_sec" value="0.0139"/>
    <param name="water_in_per_sec" value="0.584"/>
    <param name="localization_limit" value="true"/>
    <param name="obstatle_disobs_limit" value="true"/>
    <param name="chassis_chat_timeout_secs" value="10"/>
    <param name="box_chat_timeout_secs" value="10"/>
    <param name="chassis_chat_timeout_secs" value="10"/>
    <param name="msg_max_range" value="$(arg msg_max_range)"/>
    <param name="clean_function_test_timeout_secs" value="70"/>
    <param name="lora_set_timeout" value="13"/>
    <!-- remap from="/cti/ultrasonic/ult_cmd" to="/cti/ultrasonic/ult_cmd/lin"/ -->
  </node>
    <node pkg="cti_fpga_data" type="cti_fpga_data_node" name="cti_fpga_data_node" output="screen">
    <param name="filenamelog" value="$(find cti_fpga_serial)/fpga_data.log"/>
    <param name="ult_min_range" value="0.25"/>
    <param name="ult_max_range" value="2.5"/>
    <param name="rear_ult_detect_offset" value="0.01"/>
    <param name="rear_ult_detect_max" value="2.0"/>
    <param name="rear_ult_detect_min" value="0.3"/>
    <param name="front_ult_detect_offset" value="0.01"/>
    <param name="front_ult_detect_max" value="2.0"/>
    <param name="front_ult_detect_min" value="0.5"/>
    <param name="vehicle_width" value="900"/>
    <param name="rear_ult_dist" value="590"/>
    <param name="front_ult_dist" value="590"/>
    <param name="dustbox_LIN_ult_pub" value="$(arg dustbox_LIN_ult_pub)"/>
    <param name="vehicle_LIN_ult_pub" value="$(arg vehicle_LIN_ult_pub)"/>
    <param name="vehicle_rear_LIN_ult_pub" value="$(arg vehicle_rear_LIN_ult_pub)"/>
    <param name="msg_max_range" value="$(arg msg_max_range)"/>
    <param name="front_center_buffer_max" value="3"/>
    <param name="rear_center_buffer_max" value="3"/>
    <param name="rear_ground_filter_dist" value="0.3"/>
        <!-- kalman_R 越小越信任观测值，越大越信任预测值-->
    <param name="kalman_R" value="0.6"/>
    <!-- kalman_Q 越大收敛速度越快-->
    <param name="kalman_Q" value="0.01"/>
    <param name="kalman_enable" value="true"/>
  </node>
</launch>  
